VITE_API_BASE_URL=https://YOUR_API_URL
VITE_RECAPTCHA_SITE_KEY=your_recaptcha_v3_site_key
VITE_RECAPTCHA_SCRIPT_URL=https://www.google.com/recaptcha/api.js
VITE_BUG_REPORT_URL=https://forms.gle/Xw7KJ5noMo2DFTRd6
VITE_ANALYSIS_TIMEOUT_MS=310000
VITE_WARMUP_TIMEOUT_MS=30000
VITE_MAX_QUESTIONS=5
VITE_MAX_QUESTION_CHARS=100
VITE_YOUTUBE_PLAYER_SCRIPT_URL=https://www.youtube.com/iframe_api
