--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.9.1+cpu
firebase_functions~=0.5.0
firebase-admin
fastapi
uvicorn
yt-dlp[default]
google-cloud-secret-manager
deno
sentence-transformers
groq
python-dotenv
pydantic-settings
SQLAlchemy
alembic
pgvector
asyncpg
a2wsgi
asgiref
email-validator
prometheus-client>=0.21,<1
